@model WebApplication5.Models.EmployeeDb

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
   <form action="Create">
       <table>
           <tr>
               <td>Firstname</td>
               <td>
                   <input type="text" id="Firstname" name="Firstname" />
               </td>
           </tr>
           <tr>
               <td>Lastname</td>
               <td>
                   <input type="text" id="Lastname" name="Lastname" />
               </td>
           </tr>
           <tr>
               <td></td>
               <td>
                   <input type="submit" value="submit" />
               </td>
           </tr>
       </table>
   </form>
</body>
</html>
